@page
@using System.Globalization
@model ProjectPokemon.Pages.PokedexModel
@{
    ViewData["Title"] = "Pokedex";
}

<div class="container-fluid pokedex">
    <!--Search Bar-->
    <div class="container-fluid pokedex-searchbar">
        <div class="row px-1">
            <form class="col-12 col-md-8 col-lg-8 d-flex padding mt-4" role="search" method="GET">
                <input name="search" class="form-control me-2" typeof="search" placeholder="Pokemon Name or Number" aria-label="Search" list="pokemonList"/>
                <datalist id="pokemonList">
                    <!-- Populate the data list with all pokemon names -->
                    @if(Model.PokemonNames != null)
                    {
                        foreach(var name in Model.PokemonNames)
                        {
                            <option value="@name"></option>
                        }
                    }
                </datalist>
                <button class="btn btn-light" type="submit">Search</button>
            </form>
            <img src="~/images/pokeball_logo_white.png" alt="" class="pokedex-img"/>
        </div>
    </div>

    <!--Data Window-->
    @{var textFormatter = new CultureInfo("en-US", false).TextInfo;}
    <div style="overflow:hidden;">
        <div class="container-fluid data-slider">
            <div class="row data-window p-5">
                @if(Model.Pokemon != null)
                {
                    <div class="col-12 col-lg-5 mb-2 my-lg-0 text-light">
                        <div class="pokemon-image-circle">
                            <div class="pokemon-shadow"></div>
                            <div class="pokemon-number">@Model.Pokemon.Id</div>
                            <img class="img-fluid pokemon-portrait" src="@Model.Pokemon.Img"/>
                        </div>
                        <div>
                            <h1>@textFormatter.ToTitleCase(Model.Pokemon.Name)</h1>
                                <div>
                                    @foreach(var type in @Model.Pokemon.Types)
                                    {
                                        <span class="pokemon-type">@type</span>
                                    }
                                </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7 px-0 ps-lg-3" style="display:flex;flex-direction:column;">
                        <div class="bg-dark mb-2 rounded text-light" style="flex:1;">
                            <h2>Abilities</h2>
                            <div>
                                @foreach(var ability in @Model.Pokemon.Abilities)
                                {
                                    <a href="@ability.Url">@ability.Name</a>
                                }
                            </div>
                        </div>
                        <div class="bg-dark rounded text-light" style="flex:1;">
                            <h2>Base Stats</h2>
                            @foreach(var stat in @Model.Pokemon.Stats)
                            {
                                <div>@stat.Name : @stat.BaseStat</div>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="w-25 mx-auto wedge-parent">
                <div class="wedge-left"></div>
                <div class="wedge-right"></div>
            </div>
        </div>
    </div>
</div>

@if(Model.Pokemon != null)
{
    <script type="text/javascript">
        $(document).ready(
            function()
            {
                $('.data-slider').toggleClass("open");
            });
    </script>
}
else
{
    <script type="text/javascript">
        $('.data-slider').css('transform', 'translateY(-60px)');
        $('.data-slider').css('transition', 'none');
    </script>
}